/* ~~HEX BUTTONS~~ */
.hexButtonsContainer {
    position: relative;
}

.hexButtonContainer {
    display: flex;
    position: absolute;
    width: 150px;
    aspect-ratio: 52 / 45;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexButton {
    width: 130px;
    aspect-ratio: 52 / 45;
    margin: auto;
    color: #fff;
    font-size: 26px;
    border: none;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* ~~HEX ICON ROWS~~ */
.hexRowButtonsContainer {
    display: none;
    flex-direction: column;
    gap: 12px;
}

.hexRowButton {
    width: 320px;
    height: 60px;
    margin: auto;
    clip-path: polygon(17px 0%, 303px 0%, 100% 50%, 303px 100%, 17px 100%, 0% 50%);
    border: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
}

.hexRowButton :nth-child(1) {
    margin: 0;
    margin-left: 12px;
}

.hexRowButton :nth-child(2) {
    font-size: 18px;
}

.hexRowButton :nth-child(3) {
    margin: 0;
    margin-right: 12px;
}

.hexRowButton .material-icons-outlined,
.hexRowButton .fa-brands {
    font-size: 44px;
    color: white;
    background-color: transparent;
}

.hexRowButton .fa-brands,
.hexRowButton .fa-solid {
    font-size: 38px;
}

.hexRowButton .lightIcon {
    margin-left: 20px;
}

/* GH Buttons */
.btnGHlink {
    width: 70px;
}

.btnGHlink>.hexButton {
    width: 60px;
    padding: 0px;
}

/* Icon settings */
.material-symbols-outlined {
    margin: auto;
    font-size: 36px;
    color: white;
}

.fa-linkedin-in {
    font-size: 66px;
    color: white;
    background-color: transparent;
}

.emailIcon,
.contactIcon,
.lightIcon {
    display: block;
    font-size: 82px;
    color: white;
}

.hexButton .arrowIcon,
.hexButton .tabIcon,
.hexButton .copyIcon {
    display: none;
}

.btnGH>.hexButton>.fa-github,
.btnGHlink>.hexButton>.fa-github {
    display: block;
    margin: auto;
    border-radius: 50%;
    background: transparent;
    border: none;
}

.btnGHlink>.hexButton>.tabIcon {
    font-size: 18px;
}

.btnGHlink>.hexButton>.fa-github {
    font-size: 44px;
    padding: 0px;
}

.btnGH>.hexButton>.fa-github {
    font-size: 82px;
}

/* Colors */
.btnEmail>.hexButton:hover,
.btnContact>.hexButton:hover,
.btnLinkedIn>.hexButton:hover,
.btnProjects>.hexButton:hover,
.btnGH>.hexButton:hover,
.btnGHlink>.hexButton:hover {
    background-color: white;
}

.btnEmail,
.btnEmail>.hexButton,
.btnContact,
.btnContact>.hexButton {
    background-color: #29abe0;
}

.btnEmail>.hexButton:hover>*,
.btnContact>.hexButton:hover>* {
    color: #29abe0;
}

.btnLinkedIn,
.btnLinkedIn>.hexButton {
    background-color: #007bb5;
}

.btnLinkedIn>.hexButton:hover>* {
    color: #007bb5;
}

.btnProjects,
.btnProjects>.hexButton {
    background-color: orange;
}

.btnProjects>.hexButton:hover>* {
    color: orange;
}

.btnGH,
.btnGH>.hexButton,
.btnGHlink,
.btnGHlink>.hexButton {
    background-color: #171515;
}

.btnGH>.hexButton:hover>*,
.btnGHlink>.hexButton:hover>* {
    color: #171515;
}

/* text settings */
.hexButtonText {
    display: none;
}

.hexButtonTextContact {
    font-size: 20px;
    margin-top: 10px;
}

.hexButtonTextLinkedIn {
    margin-top: 20px;
}

.btnGHlink>.hexButton>.hexButtonTextGH {
    font-size: 14px;
}

/* positions */
.btnLinkedIn,
.btnContact {
    top: 129px;
}

.btnGH {
    top: 65px;
    left: 112px;
}

.btnGHlink {
    position: initial;
}

@media only screen and (max-device-width: 768px) {
    .hexRowButton {
        width: 250px;
        clip-path: polygon(17px 0%, 233px 0%, 100% 50%, 233px 100%, 17px 100%, 0% 50%);
    }

    .hexRowButton :nth-child(2) {
        font-size: 12px;
    }
}