#pickerContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
    align-items: center;
}

.picker {
    font-size: 1.6em;
}

.pickerTitle {
    text-align: center;
    grid-column: span 2;
}

.LGPicker, .RGPicker {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 1em;
}

.rowTwoItem {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr;
}

.rowTwoItem.rowShine {
    grid-template-columns: 1fr 1fr;
}

.rowShine :nth-child(1) {
    font-size: 0.8em;
}

input, select {
    display: block;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    text-indent: 3px;
}

.display {
    transition: background 200ms;
    margin: auto 0;
    border: 1px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: black 0px 0px 3px;
}

#displayLinearGradientText, #displayRadialGradientText {
    width: 90%;
}

/* Starting display colors */
#displayLinearGradient {
    height: auto;
    aspect-ratio: 1 / 1;
    max-width: 350px;
    background-image: linear-gradient(90deg, red, green, blue);
}

#displayRadialGradient {
    height: auto;
    aspect-ratio: 1 / 1;
    max-width: 350px;
    border-radius: 50%;
    background-image: radial-gradient(ellipse at 25% 25%,red, green, blue);
}

@media only screen
and (max-device-width: 500px) {
    .picker {
        grid-template-columns: 1fr;
        grid-gap: 0.5em;
        font-size: 1.2em;
    }

    .pickerTitle {
        grid-column: span 1;
    }

    .rowTwoItem {
        grid-template-columns: 1fr 3fr;
    }
}

@media only screen
and (min-device-width: 500px)
and (max-device-width: 768px) {
    .picker {
        font-size: 1.2em;
    }
}