<main id="grid-container">
    <div id="row-title">
        <h1>Simple Digital Clock</h1>
        <hr>
    </div>
    <div id="row-main">
        <section id="clock1">
            <div id="timeContainer1">
                <div class="displayDate">____-__-__</div>
                <div class="displayTime">__:__:__</div>
            </div>
        </section>
        <section id="clock2">
            <div id="timeContainer2">
                <div class="displayDate">____-__-__</div>
                <div class="displayTime">__:__:__</div>
            </div>
        </section>
        <section id="clock3">
            <div id="timeContainer3">
                <div class="displayDate">____-__-__</div>
                <div class="displayTime">__:__:__</div>
            </div>
        </section>
    </div>
    <span id="row-tokens">
        
    </span>
</main>