#grid-container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100%
}

#row-title {
    border-bottom: 2px solid;
}

#row-main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 5%;
    margin-bottom: 5%;
}

#clock1, #clock2, #clock3 {
    border: 6.5px solid #999;
    width: 100%;
    height: 100%;
    padding: 1vh;
    text-align: center;
}

#timeContainer1, #timeContainer2, #timeContainer3 {
    display: grid;
}

#clock1 {
    background-color: rgba(62, 201, 67, 0.25);
    box-shadow: inset 0px 0px 8px 4px rgba(62, 201, 67, 0.5);
}

#timeContainer1 {
    color: rgb(43, 140, 47);
}

#clock2 {
    background-color: rgba(235, 94, 66, 0.25);
    box-shadow: inset 0px 0px 8px 4px rgba(235, 94, 66, 0.5);
}

#timeContainer2 {
    color: rgb(160, 45, 22);
}

#clock3 {
    background-color: rgba(209, 166, 36, 0.25);
    box-shadow: inset 0px 0px 8px 4px rgba(209, 166, 36, 0.5);
}

#timeContainer3 {
    color: rgb(162, 128, 24);
}

.displayDate, .displayTime {
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bolder;
    display: flex;
}

#row-tokens {

}