#tttContainer {
    position: relative;
    z-index: 0;
    width: 100%;
    min-width: 250px;
    /* max-width: 450px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.victoryFlair {
    --blockFlair1-left: -105px;
    --blockFlair1-top: -7px;
    --blockFlair2-left: -26px;
    --blockFlair2-top: -7px;
    --blockFlair3-left: 66px;
    --blockFlair3-top: -6px;
    --blockFlair4-left: 19px;
    --blockFlair4-top: 12px;
    --blockFlair5-left: -76px;
    --blockFlair5-top: 17px;

    position: absolute;
    top: 49px;
    left: 225px;
    z-index: -1;
}

.playerBlock {
    width: 36px;
    margin-left: 12px;
    
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: orange;
}

.playerBlockFlairContainer {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 3em;
    height: 3em;

    transition: 1500ms;
}

.playerBlockFlair {
    text-align: center;
    font-size: 2em;
    font-weight: bold;

    opacity: 0%;
    transition: 750ms;
}

.playerBlockFlairContainer1 {
    left: var(--blockFlair1-left);
    top: var(--blockFlair1-top);
}

.playerBlockFlairContainer2 {
    left: var(--blockFlair2-left);
    top: var(--blockFlair2-top);
}

.playerBlockFlairContainer3 {
    left: var(--blockFlair3-left);
    top: var(--blockFlair3-top);
}

.playerBlockFlairContainer4 {
    left: var(--blockFlair4-left);
    top: var(--blockFlair4-top);
}

.playerBlockFlairContainer5 {
    left: var(--blockFlair5-left);
    top: var(--blockFlair5-top);
}

.playerBlockFlair1 {
    rotate: 330deg;
}

.playerBlockFlair2 {
    rotate: 12deg;
}

.playerBlockFlair3 {
    rotate: 47deg;
}

.playerBlockFlair4 {
    rotate: 152deg;
}

.playerBlockFlair5 {
    rotate: 201deg;
}


#playerTitle {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

#playerTitle>* {
    display: inline-block;
}

#winningPlayer {
    font-weight: bold;
}

#newGameButton {
    width: 100%;
    display: flex;

    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#newGameButton:hover {
    background-color: rgb(163,163,163);
    color: rgb(240, 240, 240);
}

#board {
    width: 100%;
    display: grid;
    aspect-ratio: 1/1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    border: 4px #3e3f3a solid;
}
  
app-tictactoe-square {
    /* border: 1px gray solid; */
    min-height: 100%;
    aspect-ratio: 1 / 1;
}

/* 
h4 {
    margin: auto;
} */