<h2>Current Player: {{ player }}</h2>

<main>
    <!--button that uses a "click" event-->
    <button class="btn" (click)="newGame()">Start New Game</button>
    <br>
    <!-- the tictactoe board -->
    <span id="board">
        <app-tictactoe-square *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)">
        </app-tictactoe-square>
    </span>
    <!-- text that displays the winner -->
    <div id="victory-display">
        <h2 *ngIf="winner">
            Player {{ player }} won the game!
        </h2>
    </div>
</main>