main {
    display: grid;
    justify-content: center;
}

span {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 0px;
}
  
app-tictactoe-square {
    border: 1px gray solid;
    height: 100px;
}