<main id="tttContainer">
    <span class="victoryFlair">
        <div class="playerBlock">{{ player }}</div>
        <div class="playerBlock">{{ player }}</div>
        <div class="playerBlock">{{ player }}</div>
        <div class="playerBlock">{{ player }}</div>
        <div class="playerBlock">{{ player }}</div>
    </span>
    <h1 id="playerTitle">
        <div *ngIf="winner">Winning Player: </div>
        <div *ngIf="!winner">Current Player: </div>
        <div class="playerBlock">{{ player }}</div>
    </h1>
    <!--button that uses a "click" event-->
    <button id="newGameButton" (click)="newGame(); playerTitleBGset()">Start New Game</button>
    <!-- the tictactoe board -->
    <span id="board">
        <app-tictactoe-square *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)">
        </app-tictactoe-square>
    </span>
</main>