main {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    grid-template-rows: 10% 10% 64% 10%;
    grid-row-gap: 2%;
}

#newGame {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    color: rgb(69, 69, 69);
    background-color:rgb(217, 217, 217);
}

#board {
    display: grid;
    height: 100%;
    aspect-ratio: 1/1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    border: 1px rgb(217, 217, 217) solid;
    margin-right: auto;
    margin-left: auto;
}
  
app-tictactoe-square {
    border: 1px gray solid;
    min-height: 100%;
    aspect-ratio: 1 / 1;
}

h4 {
    margin: auto;
}