#grid-container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100%
}

#row-title {
    border-bottom: 2px solid;
}

#row-main {
    display: grid;
    margin-top: 5%;
    margin-bottom: 5%;
}
