<main id="flexContainer">
    <div id="row-title">
        <h2>Tic-Tac-Toe</h2>
    </div>
    <span id="row-tokens">
        <div class="img-container img-token">
            <img src="assets\images\Tokens\Frameworks\Token-Angular-01.png">
        </div>
        <div class="token-plus">
            [
        </div>
        <div class="img-container img-token">
            <img src="assets\images\Tokens\Languages\Token-HTML-01.png">
        </div>
        <div class="token-plus">
            +
        </div>
        <div class="img-container img-token">
            <img src="assets\images\Tokens\Languages\Token-CSS-01.png">
        </div>
        <div class="token-plus">
            +
        </div>
        <div class="img-container img-token">
            <img src="assets\images\Tokens\Languages\Token-JavaScript-01.png">
        </div>
        <div class="token-plus">
            ]
        </div>
    </span>
    <div id="row-main">
        <!-- <app-square [value]="'X'"></app-square> -->
        <app-tictactoe-board id="boardContainer"></app-tictactoe-board>
    </div>
</main>