<main>
    <span class="barberContainer">
        <!-- top ball -->
        <div class="capBall"></div>
        <!-- top cap -->
        <div class="capEnd"></div>
        <!-- top second cap -->
        <div class="capBottom"></div>
        <!-- barberpole animation -->
        <div class="poleContainer">
            <div class="pole"></div>
        </div>
        <!-- botom second cap -->
        <div class="capBottom"></div>
        <!-- bottom cap -->
        <div class="capEnd"></div>
        <!-- bottom ball -->
        <div class="capBall"></div>
    </span>
</main>