<main id="grid-container">
    <div class="imgContainer">
        <img src="assets\images\headshot3.jpg">
    </div>
    <section id="bio">
        <h1>
            So who's Jacob?
        </h1>
        <p>
            I’m a Full Stack Web Developer located in the United States, with experience in graphic design and
            operations management. My mojo is simplifying and streamlining company processes, making
            everyday tasks into a predictable checklist instead of a nebulous, untrackable art form.
        </p>
        <p>
            Endlessly fascinated by the lifelong pursuit of solving human pain with practical, win-win solutions.
            Teaching computers to do most of the heavy lifting is a no-brainer.
        </p>
        <p id="p-close">
            “There is always a better way.”
        </p>
    </section>
    <section id="interestsSection">
        <app-interests></app-interests>
    </section>
</main>
