<main id="grid-container">
    <section id="bio">
        <h1>
            But who's Jacob?
        </h1>
        <p>
            I’m a Full Stack Web Developer located in the United States, with experience in graphic design and
            operations management. I have a true passion for simplifying and streamlining company processes, making
            everyday tasks into a predictable checklist instead of a nebulous, untrackable art form.
        </p>
        <p>
            Autonomous worker, aggressive problem solver, while also cautious and wary of overlooked details. Fan of
            animation, fantasy books, and stock investing. Single and trying to mingle.
        </p>
        <p>
            Endlessly fascinated by the lifelong pursuit of solving human pain with practical, win-win solutions.
            Teaching computers to help out is a no-brainer.
        </p>
        <p id="p-close">
            “There is always a better way.”
        </p>
    </section>
    <!-- <section id="tokens">
        <div class="img-container">
            <img class="img-token" src="assets\images\Tokens\Token-Complete-01.png">
        </div>
    </section> -->
</main>