<main id="grid-container">
    <section id="bio">
        <h1>
            But who's Jacob?
        </h1>
        <p>
            I’m a Full Stack Web Developer located in the United States. I have a true passion for simplifying and
            streamlining company processes, making everyday tasks into a checklist instead of a nebulous, untrackable
            art
            form.
        </p>
        <p>
            Autonomous worker, problem solver, while also cautious and attentive to the tiniest details. Fan of
            animation,
            cartoons, and fantasy books and movies. Single and trying to mingle.
        </p>
        <p>
            Endlessly fascinated by the lifelong pursuit of solving chronic human pain with practical, friendly
            solutions.
            Teaching computers is the obvious way to do that.
        </p>
        <p id="p-close">
            “There is always a better way.”
        </p>
    </section>
    <section id="tokens">
        <div class="img-container">
            <img class="img-token" src="assets\images\Tokens\Token-Complete-01.png">
        </div>
    </section>
</main>