#grid-container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100%
}

.calc-container {
    display: grid;
    width: 100%;
    height: 90%;
    border: 4.5px solid #999;
    grid-template-rows: 140px 1fr;
    margin-top: 10%;
}

#display {
    text-align: right;
    height: 140px;
    line-height: 35px;
    padding: 16px 8px;
    font-size: 25px;
    border: 0.5px solid #999;
    border-bottom: 3px solid #999;
    box-shadow: inset 0px 0px 8px 4px rgb(203, 199, 199);
    overflow-wrap: break-word;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.75fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 100%;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.button {
    background-color: rgb(232, 230, 223);
    border: 0.5px solid #999;
    text-align: center;
    font-size: 25px;
    cursor: pointer; /* makes the cursor a "pointer" icon, telling the user that the element is clickable */
}

.menu {
    background-color: rgb(212, 210, 202);
}

#equal {
    background-color: #5555ff;
    color: white;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}