<nav id="navbarPrimary">
    <div id="navCover" (click)="navSlideOver()"></div>
    <nav id="navbarHB">
        <button class="buttonRouterNav" (click)="navSlideOver()"><i class="fa-solid fa-bars"></i></button>
    </nav>
    <div class="btnGroup btnGroupHB">
        <button class="buttonRouterNav HBnav home" routerLink="" (click)="navButtonSelected('home')"><i class="fa-solid fa-house"></i></button>
        <button class="buttonRouterNav HBnav aboutMe" routerLink="aboutme" (click)="navButtonSelected('aboutMe')">About Me</button>
        <button class="buttonRouterNav HBnav experience" routerLink="experience" (click)="navButtonSelected('experience')">Experience</button>
        <button class="buttonRouterNav HBnav projects" routerLink="projects" (click)="navButtonSelected('projects')">Past Projects</button>
        <button class="buttonRouterNav HBnav contact" routerLink="contactMe" (click)="navButtonSelected('contact')">Contact</button>
    </div>
    <div class="btnGroup btnGroupFull">
        <button class="buttonRouterNav mainNav home" routerLink="" (click)="navButtonSelected('home')"><i class="fa-solid fa-house"></i></button>
        <button class="buttonRouterNav mainNav HBnav aboutMe" routerLink="aboutme" (click)="navButtonSelected('aboutMe')">About Me</button>
        <button class="buttonRouterNav mainNav experience" routerLink="experience" (click)="navButtonSelected('experience')">Experience</button>
        <button class="buttonRouterNav mainNav projects" routerLink="projects" (click)="navButtonSelected('projects')">Past Projects</button>
        <button class="buttonRouterNav mainNav contact" routerLink="contactMe" (click)="navButtonSelected('contact')">Contact</button>
    </div>
</nav>