.tttButton {
    width: 100%;
    height: 100%;
    font-size: 6vh;
    font-weight: bold;
    color: #fff;
    background-color: #3e3f3a;
    border: 4px #ffffff98 outset;
}

/* .tttButtonEmpty {
    color: #fff;
    background-color: #3e3f3a;
} */

/* .tttButtonEmpty:hover {
    background-color: #9b9f8d;
} */

.tttButtonX {
    background-color: orange;
}

/* .tttButtonX:hover {
    color: orange;
    background-color: #fff;
} */

.tttButtonO {
    background-color: #29abe0;
}

.tttButtonWhite {
    background-color: #fff;
}

/* .tttButtonO:hover {
    color: #29abe0;
    background-color: #fff;
} */

.tttButtonX:hover, .tttButtonO:hover {
    cursor: auto;
}