<main>
    <h1>My Interests</h1>
    <span class="masterButtons">
        <button class="masterButton" (click)="expandAll()">Expand All</button>
        <button class="masterButton" (click)="unExpandAll()">Collapse All</button>
    </span>

    <section>
        <button class="dropDownButton" (click)="dropDownButtonClick('dropDown00', 'dropDownIcon00')">
            <h1 class="title">🎓 My Interests</h1>
            <span id="dropDownIcon00" class="dropDownIcon material-symbols-outlined">expand_more</span>
        </button>
        <span id="dropDown00" class="divTable divTableTwoColumn expandable">
            <div class="divTableRow divTableRowTwoColumn" *ngFor="let ExpData of ExpDataModelInterests">
                <div class="divTableCell tokenContainer">
                    <div class="imgContainer">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </div>
                <div class="divTableCell divTableCellDescSingle">
                    <h2>{{ExpData.title}}</h2>
                </div>
            </div>
        </span>
    </section>

    <section>
        <button class="dropDownButton" (click)="dropDownButtonClick('dropDown01', 'dropDownIcon01')">
            <h1 class="title">🚴 My Hobbies</h1>
            <span id="dropDownIcon01" class="dropDownIcon material-symbols-outlined">expand_more</span>
        </button>
        <span id="dropDown01" class="divTable divTableTwoColumn expandable">
            <div class="divTableRow divTableRowTwoColumn" *ngFor="let ExpData of ExpDataModelHobbies">
                <div class="divTableCell tokenContainer">
                    <div class="imgContainer">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </div>
                <div class="divTableCell divTableCellDescSingle">
                    <h2>{{ExpData.title}}</h2>
                </div>
            </div>
        </span>
    </section>

    <section>
        <button class="dropDownButton" (click)="dropDownButtonClick('dropDown02', 'dropDownIcon02')">
            <h1 class="title">📚 Favorite Books (Non-Fiction)</h1>
            <span id="dropDownIcon02" class="dropDownIcon material-symbols-outlined">expand_more</span>
        </button>
        <span id="dropDown02" class="divTable divTableTwoColumn expandable">
            <div class="divTableRow divTableRowTwoColumn" *ngFor="let ExpData of ExpDataModelBooksNonfiction">
                <div class="divTableCell tokenContainer">
                    <div class="imgContainer">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </div>
                <div class="divTableCell divTableCellDescDouble">
                    <h2>{{ExpData.title}}</h2>
                    <div class="subTitle">{{ExpData.subTitle}}</div>
                </div>
            </div>
        </span>
    </section>

    <section>
        <button class="dropDownButton" (click)="dropDownButtonClick('dropDown03', 'dropDownIcon03')">
            <h1 class="title">📚 Favorite Books (Fiction)</h1>
            <span id="dropDownIcon03" class="dropDownIcon material-symbols-outlined">expand_more</span>
        </button>
        <span id="dropDown03" class="divTable divTableTwoColumn expandable">
            <div class="divTableRow divTableRowTwoColumn" *ngFor="let ExpData of ExpDataModelBooksFiction">
                <div class="divTableCell tokenContainer">
                    <div class="imgContainer">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </div>
                <div class="divTableCell divTableCellDescDouble">
                    <h2>{{ExpData.title}}</h2>
                    <div class="subTitle">{{ExpData.subTitle}}</div>
                </div>
            </div>
        </span>
    </section>

    <section>
        <button class="dropDownButton" (click)="dropDownButtonClick('dropDown04', 'dropDownIcon04')">
            <h1 class="title">📽️ Favorite Movies</h1>
            <span id="dropDownIcon04" class="dropDownIcon material-symbols-outlined">expand_more</span>
        </button>
        <span id="dropDown04" class="divTable divTableTwoColumn expandable">
            <div class="divTableRow divTableRowTwoColumn" *ngFor="let ExpData of ExpDataModelMovies">
                <div class="divTableCell tokenContainer">
                    <div class="imgContainer">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </div>
                <div class="divTableCell divTableCellDescDouble">
                    <h2>{{ExpData.title}}</h2>
                    <div class="subTitle">{{ExpData.subTitle}}</div>
                </div>
            </div>
        </span>
    </section>

    <section>
        <button class="dropDownButton" (click)="dropDownButtonClick('dropDown05', 'dropDownIcon05')">
            <h1 class="title">📺 Favorite TV Shows</h1>
            <span id="dropDownIcon05" class="dropDownIcon material-symbols-outlined">expand_more</span>
        </button>
        <span id="dropDown05" class="divTable divTableTwoColumn expandable">
            <div class="divTableRow divTableRowTwoColumn" *ngFor="let ExpData of ExpDataModelShows">
                <div class="divTableCell tokenContainer">
                    <div class="imgContainer">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </div>
                <div class="divTableCell divTableCellDescDouble">
                    <h2>{{ExpData.title}}</h2>
                    <div class="subTitle">{{ExpData.subTitle}}</div>
                </div>
            </div>
        </span>
    </section>

    <section>
        <button class="dropDownButton" (click)="dropDownButtonClick('dropDown07', 'dropDownIcon07')">
            <h1 class="title">🎮 Favorite Videogames</h1>
            <span id="dropDownIcon07" class="dropDownIcon material-symbols-outlined">expand_more</span>
        </button>
        <span id="dropDown07" class="divTable divTableTwoColumn expandable">
            <div class="divTableRow divTableRowTwoColumn" *ngFor="let ExpData of ExpDataModelVideogames">
                <div class="divTableCell tokenContainer">
                    <div class="imgContainer">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </div>
                <div class="divTableCell divTableCellDescDouble">
                    <h2>{{ExpData.title}}</h2>
                    <div class="subTitle">{{ExpData.subTitle}}</div>
                </div>
            </div>
        </span>
        <!-- added a foot for the final section -->
        <div class="sectionFoot"></div>
    </section>

    <!-- <section>
        <button class="dropDownButton" (click)="dropDownButtonClick('dropDown06', 'dropDownIcon06')">
            <h1 class="title">🎙️ Favorite Influencers</h1>
            <span id="dropDownIcon06" class="dropDownIcon material-symbols-outlined">expand_more</span>
        </button>
        <span id="dropDown06" class="divTable divTableTwoColumn expandable">
            <div class="divTableRow divTableRowTwoColumn" *ngFor="let ExpData of ExpDataModelInfluencers">
                <div class="divTableCell tokenContainer">
                    <div class="imgContainer">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </div>
                <div class="divTableCell divTableCellDescDouble">
                    <h2>{{ExpData.title}}</h2>
                    <div class="subTitle">{{ExpData.subTitle}}</div>
                </div>
            </div>
        </span>
    </section> -->

    <span class="masterButtons">
        <button class="masterButton" (click)="expandAll()">Expand All</button>
        <button class="masterButton" (click)="unExpandAll()">Collapse All</button>
    </span>
</main>