<header id="titles">
    <div class="ghLinkContainer">
        <a class="ghLink" href="https://github.com/jrgrant560/portfolio" target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </div>
    <span id="headerTitle"></span><div id="typeBlockA" class="typeBlock typeBlockA"></div>
    <br>
    <span id="headerSub"></span><div id="typeBlockB" class="typeBlock typeBlockB"></div>
</header>
<section class="pageContainer">
    <app-about-me></app-about-me>
</section>
<section class="pageContainer">
    <app-experience></app-experience>
</section>
<section class="pageButtonContainer">
    <button class="btn-dark projectsLinkButton" routerLink="projects">See My Work!</button>
</section>