#titles {
    margin-top: 8vw;
}

h1 {
    font-size: calc(1.375rem + 5.5vw);
    font-weight: 500;
    margin-bottom: 3.5vw;
}

h3 {
    font-size: calc(1.375rem + 1vw);
}

section {
    margin-bottom: 4em;
}

.pageButtonContainer {
    display: flex;
    justify-content: center;
}

.projectsLinkButton {
    min-width: 350px;
    min-height: 70px;
    font-size: 40px;
}