<div id="infoContainer">
    <div class="hexButtonContainer btnGHlink">
        <button class="hexButton"
            (mouseover)="hideMe('.btnGHlink>.hexButton>.fa-github'); revealMe('.btnGHlink>.hexButton>.hexButtonTextGH'); revealMe('.btnGHlink>.hexButton>.tabIcon')"
            (mouseout)="hideMe('.btnGHlink>.hexButton>.hexButtonTextGH'); revealMe('.btnGHlink>.hexButton>.fa-github'); hideMe('.btnGHlink>.hexButton>.tabIcon')"
            onclick="window.open('https://github.com/jrgrant560/portfolio')">
            <i class="fa-brands fa-github"></i>
            <div class="hexButtonText hexButtonTextGH">GitHub</div>
            <span class="material-symbols-outlined tabIcon">open_in_new</span>
        </button>
    </div>
    <div id="ghAlert">
        <div class="ghAlertArrowContainer">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="ghAlertText"><em>check out this site's code on <strong>GitHub</strong></em></div>
    </div>
    <!-- <span id="msgBlock">
        <div>This site was built using</div>
        <i class="fa-brands fa-angular"></i>
        <div>Angular</div>
        <i class="fa-solid fa-xmark" (click)="msgBlockHide()"></i>
    </span> -->
</div>
<main id="homeBody">
    <header id="titles">
        <div class="headerRow">
            <span id="headerTitle"></span>
            <div id="typeBlockTitle" class="typeBlock"></div>
        </div>
        <br>
        <!-- sub headers -->
        <div class="headerRow headerRowSub">
            <div>
                <span id="headerSubA" class="headerSub"></span>
                <div id="typeBlockA" class="typeBlock typeBlockSub"></div>
            </div>
            <div>
                <span id="headerSubB" class="headerSub"></span>
                <div id="typeBlockB" class="typeBlock typeBlockSub"></div>
            </div>
            <div>
                <span id="headerSubC" class="headerSub"></span>
                <div id="typeBlockC" class="typeBlock typeBlockSub"></div>
            </div>
            <div>
                <span id="headerSubD" class="headerSub"></span>
                <div id="typeBlockD" class="typeBlock typeBlockSub"></div>
            </div>
        </div>
    </header>
    <section id="homeScroll">
        <!-- <section class="pageContainer">
        <app-about-me></app-about-me>
    </section>
    <section class="pageContainer">
        <app-experience></app-experience>
    </section> -->
        <!-- <section class="pageContainer pageButtonContainer">
        <button class="btn-dark projectsLinkButton" routerLink="projects">See My Work!</button>
    </section> -->
        <nav class="hexButtonsContainer">
            <!-- <div class="hexButtonContainer btnContact">
            <button class="hexButton" routerLink="contactMe">Contact Me</button>
        </div>
        <div class="hexButtonContainer btnProjects">
            <button class="hexButton" routerLink="projects">See Some of My Work!</button>
        </div>
        <div class="hexButtonContainer btnGH">
            <button class="hexButton" onclick="window.open('https://github.com/jrgrant560')"
                type="button">GitHub</button>
        </div> -->
            <div class="hexButtonContainer btnContact">
                <button class="hexButton"
                    (mouseover)="hideMe('.contactIcon'); revealMe('.hexButtonTextContact'); revealMe('.arrowIcon')"
                    (mouseout)="hideMe('.hexButtonTextContact'); revealMe('.contactIcon'); hideMe('.arrowIcon')"
                    routerLink="contactMe">
                    <span class="material-icons-outlined contactIcon">contact_page</span>
                    <div class="hexButtonText hexButtonTextContact">Contact Me</div>
                    <span class="material-symbols-outlined arrowIcon">arrow_outward</span>
                </button>
            </div>
            <div class="hexButtonContainer btnProjects">
                <button class="hexButton"
                    (mouseover)="hideMe('.lightIcon'); revealMe('.hexButtonTextProjects'); revealMe('.btnProjects>.hexButton>.tabIcon')"
                    (mouseout)="hideMe('.hexButtonTextProjects'); revealMe('.lightIcon'); hideMe('.btnProjects>.hexButton>.tabIcon')"
                    routerLink="projects">
                    <i class="fa-solid fa-lightbulb lightIcon"></i>
                    <div class="hexButtonText hexButtonTextProjects">Projects</div>
                    <span class="material-symbols-outlined tabIcon">arrow_outward</span>
                </button>
            </div>
            <div class="hexButtonContainer btnGH">
                <button class="hexButton"
                    (mouseover)="hideMe('.btnGH>.hexButton>.fa-github'); revealMe('.btnGH>.hexButton>.hexButtonTextGH'); revealMe('.btnGH>.hexButton>.tabIcon')"
                    (mouseout)="hideMe('.btnGH>.hexButton>.hexButtonTextGH'); revealMe('.btnGH>.hexButton>.fa-github'); hideMe('.btnGH>.hexButton>.tabIcon')"
                    onclick="window.open('https://github.com/jrgrant560')">
                    <i class="fa-brands fa-github"></i>
                    <div class="hexButtonText hexButtonTextGH">GitHub</div>
                    <span class="material-symbols-outlined tabIcon">open_in_new</span>
                </button>
            </div>
        </nav>
    </section>
</main>