<header id="titles">
    <div id="infoContainer">
        <a class="ghLink" href="https://github.com/jrgrant560/portfolio" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <div id="ghAlert">
            <div class="ghAlertArrowContainer">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="ghAlertText"><em>check out this site's code on <strong>GitHub</strong></em></div>
        </div>
        <span id="msgBlock">
            <div>This site was built using</div>
            <i class="fa-brands fa-angular"></i>
            <div>Angular</div>
            <i class="fa-solid fa-xmark" (click)="msgBlockHide()"></i>
        </span>
    </div>
    <div class="headerRow">
        <span id="headerTitle"></span>
        <div id="typeBlockTitle" class="typeBlock"></div>
    </div>
    <br>
    <!-- sub headers -->
    <div class="headerRow headerRowSub">
        <div>
            <span id="headerSubA" class="headerSub"></span>
            <div id="typeBlockA" class="typeBlock typeBlockSub"></div>
        </div>
        <div>
            <span id="headerSubB" class="headerSub"></span>
            <div id="typeBlockB" class="typeBlock typeBlockSub"></div>
        </div>
        <div>
            <span id="headerSubC" class="headerSub"></span>
            <div id="typeBlockC" class="typeBlock typeBlockSub"></div>
        </div>
        <div>
            <span id="headerSubD" class="headerSub"></span>
            <div id="typeBlockD" class="typeBlock typeBlockSub"></div>
        </div>
    </div>
</header>
<main id="homeScroll">
    <!-- <section class="pageContainer">
        <app-about-me></app-about-me>
    </section>
    <section class="pageContainer">
        <app-experience></app-experience>
    </section> -->
    <!-- <section class="pageContainer pageButtonContainer">
        <button class="btn-dark projectsLinkButton" routerLink="projects">See My Work!</button>
    </section> -->
    <nav class="hexButtons">
        <div class="hexButtonContainer btnContact">
            <button class="hexButton" routerLink="contactMe">Contact Me</button>
        </div>
        <div class="hexButtonContainer btnProjects">
            <button class="hexButton" routerLink="projects">See Some of My Work!</button>
        </div>
        <div class="hexButtonContainer btnGH">
            <button class="hexButton" onclick="window.open('https://github.com/jrgrant560')"
                type="button">GitHub</button>
        </div>

    </nav>
</main>