#homeBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#titles {
    position: relative;
    z-index: 10;
    grid-column: span 2;
}

#infoContainer {
    position: relative;
    top: -10em;
    padding: 12px 0;

    display: flex;
    align-items: center;
    transition: all 1s ease-in-out;
}

#ghAlert {
    display: flex;
    align-items: center;
    margin-left: 20px;

    opacity: 0%;
    transition: all 1.5s ease-in-out;
}

.ghAlertArrowContainer {
    position: relative;
    width: 60px;
    height: 40px;
}

.fa-arrow-left {
    position: absolute;
    left: 0px;
    font-size: 40px;
    animation: ghAlertArrowMove 1s infinite
}

.ghAlertText {
    display: inline-block;
    margin-left: 20px;
}

.ghLink {
    width: 60px;
    height: 60px;
    margin: 5px 0;
}

#headerTitle {
    font-size: calc(1.375rem + 5.5vw);
    font-weight: 500;
}

.typeBlock {
    display: inline-block;
    height: calc(1.375rem + 5.5vw);
    width: 28px;
    background-color: transparent;
}

.headerRowSub {
    margin-left: 36px;
}

.headerSub {
    font-size: calc(1.375rem + 0.6vw);
}

.typeBlockSub {
    height: calc(1.375rem + 0.6vw);
    width: 12px;
}

#homeScroll {
    position: relative;
    z-index: 1;
    top: -2000px;
    transition: all 1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pageContainer {
    margin-bottom: 4em;
}

.hexButtonsContainer {
    width: 262px;
    height: 259px;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes ghAlertArrowMove {
    0% {
        left: 30px;
    }

    100% {
        left: 0px;
    }
}


/* <768px */
@media only screen
and (max-device-width: 768px)
{
    #homeBody {
        grid-template-columns: 1fr;
        grid-gap: 8vh;
    }

    #titles {
        grid-column: span 1;
    }

    .hexRowButtonsContainer {
        display: flex;
        margin-bottom: 8vh;
    }

    .hexButtonsContainer {
        display: none;
    }
}