#typeContainer {
    margin-right: auto;
    margin-bottom: auto;
}

#textField {
    font-size: 22px;
    font-weight: bold;
}

#typeBlock {
    display: inline-block;
    width: 12px;
    height: 22px;
    background-color: orange;
}