<nav id="projectNav" class="projectNavExpanded">
    <!-- Nav Row 1 -->
    <div></div>
    <button class="projectNavButton" (click)="revealProject('project00')">Group Project: "The Outdoorsman"</button>
    <button class="projectNavButton" (click)="revealProject('project01')">TicTacToe</button>
    <button class="projectNavButton" (click)="revealProject('project02')">Simple Clock</button>
    <button class="projectNavButton" (click)="revealProject('project03')">Calculator</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty" (click)="hideAllProjects(); maximizeNavBar()">[ Hide All ]</button>
    <div></div>
    <!-- Nav Row 2 -->
    <div></div>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <div></div>
    <!-- Nav Row 3 -->
    <div></div>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <button class="projectNavButtonEmpty">[ empty ]</button>
    <div></div>
</nav>
<section id="project00" class="project-container url-connect">
    <main id="flexContainer">
        <div id="row-title">
            <h3 id="outdoorsman-title">Group Project: "The Outdoorsman"</h3>
        </div>
        <span id="row-tokens">
            <div class="img-container img-token">
                <img src="assets\images\Tokens\Frameworks\Token-Angular2-01.png">
            </div>
            <div class="token-plus">
                +
            </div>
            <div class="img-container img-token">
                <img src="assets\images\Tokens\Frameworks\Token-DotNet2-01.png">
            </div>
        </span>
        <div id="row-main">
            <div class="button-container">
                <button class="btn-outline-info" (click)="reNavA()">
                    <div class="img-container img-container-outdoorsman">
                        <img class="img-outdoorsman" src="assets\images\outdoorsman_screenshot.png">
                    </div>
                </button>
            </div>
            <div class="textbox">
                My Roles: Project Manager, CRUD for Users (Backend), JSON Web Token User Authentication (Backend),
                Assisting Other Team Members
            </div>
        </div>
    </main>
</section>
<section id="project01" class="project-container">
    <app-tictactoe class="projectRoute"></app-tictactoe>
</section>
<section id="project02" class="project-container">
    <app-simple-clock class="projectRoute"></app-simple-clock>
</section>
<section id="project03" class="project-container">
    <app-calculator class="projectRoute"></app-calculator>
</section>