#main-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.project-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    border: 4px;
    border-style: solid;
    border-color: rgb(107, 109, 91);
    padding: 1em;
    margin: 0.1em;
    border-radius: 0.5em;
}

.url-connect {
    grid-template-rows: 10% 59% 25%;
    grid-row-gap: 3%;
}

#outdoorsman-title {
    font-size: 2.5vw;
}

#row-main {
    grid-template-rows: 75% 20%;
    grid-row-gap: 5%;
}

.button-container {
}

.btn-outline-info {
    display: flex;
    cursor: pointer;
    padding: 2%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.img-container-outdoorsman {
    max-height: 100%;
    aspect-ratio: 2668/1650;
}

.img-outdoorsman {
    border: 1px;
    border-style: solid;
    border-color: rgb(107, 107, 107);
}

.textbox {
    font-size: 2vh;
}

/* @media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    #main-grid-container {
        grid-template-columns: 1fr;
    }
} */

@media (max-width: 736px) {
    #main-grid-container {
        grid-template-columns: 1fr;
    }
}
