#grid-container {
    display: grid;
    grid-template-rows: 10% 59% 25%;
    grid-row-gap: 3%;
    height: 100%;
}

/* #row-title, #row-main, #row-tokens {
    border-color: red;
    border-style: dashed;
    border-width: 1px;
} */

#row-title {
    border-bottom: 2px solid;
}

#row-main {
    display: grid;
}

#row-tokens {
    border-top: 2px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9%, 1fr));;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

.img-token {
    border: none;
    max-width: 120px;
    margin: auto;
}

.token-plus {
    margin: auto;
    font-size: 3em;
}