<main id="main-grid-container">
    <section class="project-container url-connect">
        <div id="row-title">
            <h3 id="outdoorsman-title">Group Project: "The Outdoorsman"</h3>
        </div>
        <div id="row-main">
            <div class="button-container">
                <button class="btn-outline-info" (click)="reNavA()">
                    <div class="img-container img-container-outdoorsman">
                        <img class="img-outdoorsman" src="assets\images\outdoorsman_screenshot.png">
                    </div>
                </button>
            </div>
            <div class="textbox">
                My Roles: Project Manager, CRUD for Users (Backend), JSON Web Token User Authentication (Backend),
                Assisting Other Team Members
            </div>
        </div>
        <span id="row-tokens">
            <div class="img-container img-token">
                <img src="assets\images\Tokens\Frameworks\Token-Angular2-01.png">
            </div>
            <div class="token-plus">
                +
            </div>
            <div class="img-container img-token">
                <img src="assets\images\Tokens\Frameworks\Token-DotNet2-01.png">
            </div>
        </span>
    </section>
    <section class="project-container">
        <app-tictactoe></app-tictactoe>
    </section>
    <section class="project-container">
        <app-simple-clock></app-simple-clock>
    </section>
    <section class="project-container">
        <app-calculator></app-calculator>
    </section>
</main>