#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

#row-title {
    border-bottom: 2px solid;
}

#row-main {
    display: grid;
    margin-top: 5%;
    margin-bottom: 5%;
}

.project-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    border: 4px;
    border-style: solid;
    border-color: rgb(107, 109, 91);
    padding: 1em;
    margin: 0.1em;
    border-radius: 0.5em;
}

.url-connect {
    grid-template-rows: 10% 80% 10%;
}

button {
    display: grid;
    grid-template-columns: 100%;
    cursor: pointer;
    padding: 2%;
}

.img-container {
    border: 1px;
    border-style: solid;
    border-color: rgb(107, 107, 107);
}

img {
    max-width: 100%;
    height: auto;
}

.textbox {
    font-size: 0.8em;
}

#row-tokens {
    display: grid;
}

.tokens-languages, .tokens-frameworks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.img-token {
    border: none;
    width: 100%;
    height: auto;
}