#flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* #row-title, #row-main, #row-tokens {
    border-color: red;
    border-style: dashed;
    border-width: 1px;
} */

#row-title {
    border-bottom: 2px solid;
    width: 100%;
}

#row-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#row-main>* {
    max-width: 450px;
}

#row-tokens {
    width: 100%;
    border-top: 2px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-container {
    display: flex;
}

.img-token {
    max-width: 120px;
    max-height: 104px;
    aspect-ratio: 1038 / 900;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.token-plus {
    font-size: 9vw;
    margin-top: auto;
    margin-bottom: auto;
}




/* Borders for Testing */

#flexContainer {
    border: 1px red dashed;
}

#row-title {
    border: 1px yellow dashed;
}

#row-main {
    border: 1px green dashed;
}

#row-tokens {
    border: 1px blue dashed;
}