<div id="grid-container">
    <div class="project-container url-connect">
        <a href="https://jrgrant560.github.io/Final-Project_The-Outdoorsman">Group Project: "The Outdoorsman</a>
        <p>My Roles: Project Manager, CRUD for Users (Backend), JSON Web Token User Authentication (Backend), Assisting Other Team
            Members
        </p>
    </div>
    <div class="project-container">
        <app-simple-clock></app-simple-clock>
    </div>
    <div class="project-container">
        <app-calculator></app-calculator>
    </div>
    <div class="project-container">
        <app-tictactoe></app-tictactoe>
    </div>
</div>