<nav class="navbarPrimary">
    <div class="btnGroup">
        <button class="buttonRouterNav" routerLink="">Home</button>
        <button class="buttonRouterNav" routerLink="aboutme">About Me</button>
        <button class="buttonRouterNav" routerLink="experience">Experience</button>
        <button class="buttonRouterNav" routerLink="projects">Past Projects</button>
        <!-- <button class="buttonRouterNav" routerLink="interests">Interests</button> -->
        <button class="buttonContactNav" routerLink="contactMe">Contact</button>
    </div>
</nav>

<div id="boundary">
    <router-outlet></router-outlet>
</div>