<nav class="navbar-dark bg-dark">
    <div class="btn-group">
        <button class="btn-dark nav-item" routerLink="">Home</button>
        <button class="btn-dark nav-item" routerLink="aboutme">About Me</button>
        <button class="btn-dark nav-item" routerLink="experience">Experience</button>
        <button class="btn-dark nav-item" routerLink="projects">Projects</button>
        <button class="btn-dark nav-item" routerLink="contactMe">Contact</button>
        <button class="btn-dark nav-item" routerLink="blog">Blog</button>
    </div>
    <div id="space-empty"></div>
</nav>

<div id="boundary">
    <router-outlet></router-outlet>
</div>