nav {
    margin-right: auto;
    justify-content: left;
    display: flex;
}

.btn-group {
    width: 100%;
}

button {
    width: 100%;
}

.contactNav:focus {
    background-color: #fff;
    color: #3e3f3a;
  }

.contactNav:hover, .contactNav:focus {
    color: #29abe0;
    background-color: #fff;
}

#boundary {
    padding: 2em;
}

router-outlet {
    border-bottom: 4px solid;
}