nav {
    margin-right: auto;
    justify-content: left;
    display: flex;
}

.btn-group {
    width: 60%;
}

button {
    width: 100%;
}

#space-empty {
    width: 40%;
}

#boundary {
    padding: 2em;
}