#boundary {
    position: relative;
    z-index: 1;
    padding: 2em;
}

router-outlet {
    border-bottom: 4px solid;
}

/* ----------- PHONES ----------- */
/* Portrait and Landscape */
@media only screen
/* and (min-device-width: 414px)
and (max-device-width: 736px) */
and (max-device-width: 768px)
{

}

/* ----------- TABLET (iPad 3 and 4) ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
/* and (max-device-width: 1024px) */
{

}

/* ----------- LAPTOP/DESKTOP (Non-Retina Screens) ----------- */
@media only screen
and (min-device-width: 1200px)
/* and (max-device-width: 1600px) */
{

}