<nav class="navbar-dark bg-dark">
    <div class="btn-group">
        <button class="btn-dark nav-item routerNav" routerLink="">Home</button>
        <button class="btn-dark nav-item routerNav" routerLink="aboutme">About Me</button>
        <button class="btn-dark nav-item routerNav" routerLink="experience">Experience</button>
        <button class="btn-dark nav-item routerNav" routerLink="projects">Past Work</button>
        <button class="btn-dark nav-item routerNav" routerLink="interests">Interests</button>
        <button class="btn-info nav-item contactNav" routerLink="contactMe">Contact</button>
    </div>
</nav>

<div id="boundary">
    <router-outlet></router-outlet>
</div>

<app-contact-footer></app-contact-footer>