<main>
    <section>
        <button (click)="
        setOpacity100('#circleA');
        setOpacity100('#circleB');
        setOpacity100('#circleC');
        setOpacity100('#circleD');
        setOpacity100('#circleE');
        setOpacity75('#travelCanvasB');
    ">Load Bouncing Balls</button>
        <span class="bounceBallContainer">
            <span class="bounceCanvasA">
                <div class="bounceCircle" id="circleA"></div>
            </span>
            <span class="bounceCanvasA">
                <div class="bounceCircle" id="circleB"></div>
            </span>
            <span class="bounceCanvasA">
                <div class="bounceCircle" id="circleC"></div>
            </span>
            <span class="bounceCanvasA">
                <div class="bounceCircle" id="circleD"></div>
            </span>
            <span class="bounceCanvasA">
                <div class="bounceCircle" id="circleE"></div>
            </span>
            <span id="travelCanvasB" class="travelCanvas">
                <div id="travelBarB" class="travelBar">
                    <div id="travelCircleB" class="travelCircle"></div>
                </div>
                <div id="travelBarC" class="travelBar">
                    <div id="travelCircleC" class="travelCircle"></div>
                </div>
                <div id="travelBarD" class="travelBar">
                    <div id="travelCircleD" class="travelCircle"></div>
                </div>
                <div id="travelBarE" class="travelBar">
                    <div id="travelCircleE" class="travelCircle"></div>
                </div>
            </span>
        </span>
    </section>
</main>