#animationsContainer {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
    justify-items: center;
    align-content: center;

    margin-left: 5%;
    margin-right: 5%;
}

.animationColumn, .animationTwoColumn, .animationFourColumn {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.animationTwoColumn {
    grid-column: span 2;
}

.animationThreeColumn {
    grid-column: span 3;
}

.animationFourColumn {
    grid-column: span 4;
}

button:hover {
    background-color: rgb(163,163,163);
    color: rgb(240, 240, 240);
}