#contactTitle {
    font-size: 3rem;
    font-weight: bold;
}

#emailAlertBox {
    position: absolute;
    width: 100%;
    transition: 500ms;
    opacity: 0%;
}

#emailPopup {
    margin: auto;
    width: 200px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;
    color: white;
    background: #29abe0a1;
    border-radius: 5px;
}