#contactTitle {
    font-size: 3rem;
    font-weight: bold;
}

#contactMain {
    position: relative;
    display: grid;
    grid-row-gap: 1em;
}

#emailAlertBox {
    position: absolute;
    width: 100%;
    transition: 500ms;
    opacity: 0%;
}

#emailPopup {
    margin: auto;
    width: 200px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;
    color: white;
    background: #29abe0a1;
    border-radius: 5px;
}

.material-symbols-outlined {
    margin: auto;
    font-size:36px;
    color: white;
}

.fa-linkedin-in {
    font-size: 66px;
    color: white;
    background-color: transparent;
}

.btnGH>.hexButton>.fa-github {
    margin: auto;
    border-radius: 50%;
    background: transparent;
    font-size: 82px;
    border: none;
}

.copyButton {
    width: 46px;
    height: 46px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.hexButtons {
    position: relative;
}

.hexButtonContainer {
    display: flex;
    position: absolute;
    width: 150px;
    aspect-ratio: 52 / 45;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexButton {
    width: 130px;
    aspect-ratio: 52 / 45;
    margin: auto;
    color: #fff;
    font-size: 26px;
    border: none;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.btnEmail, .btnEmail>.hexButton, .btnContact, .btnContact>.hexButton {
    background-color: #29abe0;
}

.emailIcon, .contactIcon, .lightIcon {
    display: block;
    font-size: 82px;
    color: white;
}

.arrowIcon, .tabIcon, .copyIcon {
    display: none;
}

.btnEmail>.hexButton:hover, .btnContact>.hexButton:hover, .btnLinkedIn>.hexButton:hover, .btnProjects>.hexButton:hover {
    background-color: white;
}

.btnEmail>.hexButton:hover>*, .btnContact>.hexButton:hover>* {
    color: #29abe0;
}

.btnLinkedIn, .btnLinkedIn>.hexButton {
    background-color: #007bb5;
}

.btnLinkedIn>.hexButton:hover>* {
    color: #007bb5;
}

.btnProjects, .btnProjects>.hexButton {
    background-color: orange;
}

.btnProjects>.hexButton:hover>* {
    color: orange;
}

.btnGH, .btnGH>.hexButton {
    background-color: #171515;
}

.btnGH>.hexButton:hover, .btnGH>.hexButton:hover>* {
    color: #171515;
    background-color: #fff;
}

.hexButtonText {
    display: none;
}

.hexButtonTextContact {
    font-size: 20px;
    margin-top: 10px;
}

.hexButtonTextLinkedIn {
    margin-top: 20px;
}

.btnLinkedIn, .btnContact {
    top: 129px;
}

.btnGH {
    top: 65px;
    left: 112px;
}