<h1>
    Contact Me
</h1>
<main>
    <section class="rowEmail">
        <span class="material-icons-outlined">alternate_email</span>
        <!-- The text field -->
        <div id="myEmail">jrgrant560@gmail.com</div>
        <!-- Copy Button -->
        <button class="btn-info copyButton" (click)="copyEmail()">
            <span class="material-symbols-outlined copyIcon">content_copy</span>
        </button>
    </section>
    <section class="rowTwo">
        <i class="fa-brands fa-linkedin-in"></i>
        <!-- The text field -->
        <a href="https://www.linkedin.com/in/jacobryangrant/"
            id="myLinkedIn">https://www.linkedin.com/in/jacobryangrant/</a>
    </section>
    <section class="rowTwo">
        <i class="fa-brands fa-github"></i>
        <!-- The text field -->
        <a href="https://github.com/jrgrant560" id="myLinkedIn">https://github.com/jrgrant560</a>
    </section>
</main>