<main>
    <h1>
        Contact Me
    </h1>
    <table>
        <!-- Email -->
        <tr>
            <td>
                <span class="material-icons-outlined">
                    alternate_email
                </span>
            </td>
            <td>
                <!-- The text field -->
                <div id="myEmail">jrgrant560@gmail.com</div>
            </td>
            <td>
                <!-- The button used to copy the text -->
                <button class="btn-info copyButton" (click)="copyEmail()">
                    <span class="material-symbols-outlined">
                        content_copy
                    </span>
                </button>
            </td>
        </tr>
        <hr>
        <!-- LinkedIn -->
        <tr>
            <td>
                <i class="fa fa-linkedin"></i>
            </td>
            <td>
                <!-- The text field -->
                <a href="https://www.linkedin.com/in/jacobryangrant/" id="myLinkedIn">in/jacobryangrant/</a>
            </td>
        </tr>
        <hr>
        <!-- GitHub -->
        <tr>
            <td>
                <i class="fa fa-github"></i>
            </td>
            <td>
                <!-- The text field -->
                <a href="https://github.com/jrgrant560" id="myLinkedIn">/jrgrant560</a>
            </td>
        </tr>
    </table>
</main>