<!-- Source for this awesome clock style: https://dev.to/code_mystery/simple-analog-clock-using-html-css-javascript-2c6a -->

<main id="flexContainer">
    <div id="row-title">
        <h2>Analog Clocks</h2>
    </div>

    <span id="row-tokens">
        <div class="hexButtonContainer btnGHlink">
            <button class="hexButton"
                onclick="window.open('https://github.com/jrgrant560/CSS-JS-Animated-Clock/tree/master/Analog')">
                <i class="fa-brands fa-github"></i>
                <div class="hexButtonText hexButtonTextGH">GitHub</div>
                <span class="material-symbols-outlined tabIcon">open_in_new</span>
            </button>
        </div>
        <div class="img-container img-token">
            <img src="assets\images\Tokens\Languages\Token-HTML-01.png">
        </div>
        <div class="token-plus">
            +
        </div>
        <div class="img-container img-token">
            <img src="assets\images\Tokens\Languages\Token-CSS-01.png">
        </div>
        <div class="token-plus">
            +
        </div>
        <div class="img-container img-token">
            <img src="assets\images\Tokens\Languages\Token-JavaScript-01.png">
        </div>
    </span>

    <div id="row-main">
        <body class="clocksBody">
            <main id="clocksContainer" class="clocksAnalog">
                <div class="clockRow">
                    <section class="clockContainer clockLocalContainer">
                        <p>Your Time</p>
                        <article class="timeZoneDisplayContainer">
                            (
                            <div class="timeZoneDisplay">TimeZone</div>
                            )
                        </article>
                        <p class="timeZoneDate">Monday?</p>
                        <span class="clock clockA clockLocal">
                            <div class="outer-clock-face">
                                <div class="marking marking-one"></div>
                                <div class="marking marking-two"></div>
                                <div class="marking marking-three"></div>
                                <div class="marking marking-four"></div>
                            </div>
                            <div class="inner-clock-face">
                                <div class="hand hour-hand"></div>
                                <div class="hand minute-hand"></div>
                                <div class="hand second-hand"></div>
                                <div class="midDayIndicator"></div>
                            </div>
                        </span>
                    </section>
                </div>
                <hr>
                <div class="clockRow clockZones">
                    <section class="clockContainer clockNYCContainer">
                        <p>New York City</p>
                        <p class="timeZoneDate">Monday?</p>
                        <span class="clock clockA clockNYC">
                            <div class="outer-clock-face">
                                <div class="marking marking-one"></div>
                                <div class="marking marking-two"></div>
                                <div class="marking marking-three"></div>
                                <div class="marking marking-four"></div>
                            </div>
                            <div class="inner-clock-face">
                                <div class="hand hour-hand"></div>
                                <div class="hand minute-hand"></div>
                                <div class="hand second-hand"></div>
                                <div class="midDayIndicator"></div>
                            </div>
                        </span>
                    </section>
                    <section class="clockContainer clockLosAngelesContainer">
                        <p>Los Angeles</p>
                        <p class="timeZoneDate">Monday?</p>
                        <span class="clock clockA clockLosAngeles">
                            <div class="outer-clock-face">
                                <div class="marking marking-one"></div>
                                <div class="marking marking-two"></div>
                                <div class="marking marking-three"></div>
                                <div class="marking marking-four"></div>
                            </div>
                            <div class="inner-clock-face">
                                <div class="hand hour-hand"></div>
                                <div class="hand minute-hand"></div>
                                <div class="hand second-hand"></div>
                                <div class="midDayIndicator"></div>
                            </div>
                        </span>
                    </section>
                    <section class="clockContainer clockHongKongContainer">
                        <p>Hong Kong</p>
                        <p class="timeZoneDate">Monday?</p>
                        <span class="clock clockA clockHongKong">
                            <div class="outer-clock-face">
                                <div class="marking marking-one"></div>
                                <div class="marking marking-two"></div>
                                <div class="marking marking-three"></div>
                                <div class="marking marking-four"></div>
                            </div>
                            <div class="inner-clock-face">
                                <div class="hand hour-hand"></div>
                                <div class="hand minute-hand"></div>
                                <div class="hand second-hand"></div>
                                <div class="midDayIndicator"></div>
                            </div>
                        </span>
                    </section>
                    <section class="clockContainer clockLondonContainer">
                        <p>London</p>
                        <p class="timeZoneDate">Monday?</p>
                        <span class="clock clockA clockLondon">
                            <div class="outer-clock-face">
                                <div class="marking marking-one"></div>
                                <div class="marking marking-two"></div>
                                <div class="marking marking-three"></div>
                                <div class="marking marking-four"></div>
                            </div>
                            <div class="inner-clock-face">
                                <div class="hand hour-hand"></div>
                                <div class="hand minute-hand"></div>
                                <div class="hand second-hand"></div>
                                <div class="midDayIndicator"></div>
                            </div>
                        </span>
                    </section>
                </div>
                <hr>
                <div class="clockRow clockSplit">
                    <section class="clockContainer">
                        <span class="clock clockC">
                            <div class="outer-clock-face">
                                <div class="marking marking-one"></div>
                                <div class="marking marking-two"></div>
                                <div class="marking marking-three"></div>
                                <div class="marking marking-four"></div>
                            </div>
                            <div class="inner-clock-face">
                                <div class="hand hour-hand"></div>
                            </div>
                        </span>
                        <p>Hours</p>
                    </section>
                    <section class="clockContainer">
                        <span class="clock clockD">
                            <div class="outer-clock-face">
                                <div class="marking marking-one"></div>
                                <div class="marking marking-two"></div>
                                <div class="marking marking-three"></div>
                                <div class="marking marking-four"></div>
                            </div>
                            <div class="inner-clock-face">
                                <div class="hand minute-hand"></div>
                            </div>
                        </span>
                        <p>Minutes</p>
                    </section>
                    <section class="clockContainer">
                        <span class="clock clockE">
                            <div class="outer-clock-face">
                                <div class="marking marking-one"></div>
                                <div class="marking marking-two"></div>
                                <div class="marking marking-three"></div>
                                <div class="marking marking-four"></div>
                            </div>
                            <div class="inner-clock-face">
                                <div class="hand second-hand"></div>
                            </div>
                        </span>
                        <p>Seconds</p>
                    </section>
                    <section class="clockContainer">
                        <span class="clock clockF">
                            <div class="outer-clock-face">
                                <div class="marking marking-one"></div>
                                <div class="marking marking-two"></div>
                                <div class="marking marking-three"></div>
                                <div class="marking marking-four"></div>
                            </div>
                            <div class="inner-clock-face">
                                <div class="hand millisecond-hand"></div>
                            </div>
                        </span>
                        <p>Milliseconds</p>
                    </section>
                </div>
            </main>
        </body>
    </div>
</main>