.bounceBallContainer {
    display: flex;
    position: relative;
    width: 75%;
    aspect-ratio: 1/1;

    overflow: hidden;

    background-color: orange;
    border: #9e9886 8px solid;
    border-radius: 5%;
/* 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */

}

.bounceCanvasA {
    display: inline-block;
    width: 20%;
    height: 100%;

    position: relative;

    background-color: #fffbef;
}

.bounceCircle {
    position: absolute;
    z-index: 1;
    left: 20%;

    width: 50%;
    aspect-ratio: 1 / 1;
	border-radius: 50%;

    transform-origin: center bottom;

    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: bounce2 1.6s infinite;
}

#circleA {
    background-image: radial-gradient(ellipse farthest-corner at 25% 25%, #f00,#000);
}

#circleB {
    background-image: radial-gradient(ellipse farthest-corner at 25% 25%, rgb(255, 170, 0),#000);

    /* animation: bounce2 1.4s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite; */
    animation-delay: -1s;
}

#circleC {
    background-image: radial-gradient(ellipse farthest-corner at 25% 25%, rgb(55, 255, 155),#000);

    /* animation: bounce2 1.2s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite; */
    animation-delay: -2s;
}

#circleD {
    background-image: radial-gradient(ellipse farthest-corner at 25% 25%, rgb(48, 185, 227),#000);

    /* animation: bounce2 1.2s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite; */
    animation-delay: -2.2s;
}

#circleE {
    background-image: radial-gradient(ellipse farthest-corner at 25% 25%, rgb(218, 35, 139),#000);

    /* animation: bounce2 1.2s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite; */
    animation-delay: -2.5s;
}


@keyframes bounce2 {
    0% {
        transform: scaleX(50%) scaleY(150%);
        bottom: 0%;
        -webkit-animation-timing-function: ease-out;
    }
    46% {
        transform: scaleX(115%) scaleY(85%);
        bottom: 90%;
        -webkit-animation-timing-function: ease-in;
    }
    92% {
        transform: scaleX(50%) scaleY(150%);
        bottom: 0%;
    }
    98% {
        transform: scaleX(160%) scaleY(40%);
        bottom: 0%;
    }
    100% {
        transform: scaleX(50%) scaleY(150%);
        bottom: 0%;
        -webkit-animation-timing-function: ease-out;
    }
}