main {
    display: grid;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.title {
    overflow: hidden;
    white-space: nowrap;
}

.title>* {
    display: inline-block;
}

.title>div {
    font-size: 0.6em;
}

hr {
    height: 4px;
}

.expandable, .divTable, .divTableRow, .divTableCell, .tokencontainer, .imgContainer, img, h2, article {
    transition: all 1s ease-in-out;
}

.divTable {
    display: grid;
    color: transparent;
    padding: 0em;
}

.divTableRow {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    align-items: center;
    padding: 0em;
    border: 0px;
}

.divTableCell {
    color: transparent;
    line-height: 0;
    padding: 0em;
}

.tokenContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    display: flex;
    max-width: 150px;
}

img {
    width: 0%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin: 0em;
    line-height: 0em;
    color: transparent;
}

article {
    font-weight: bold;
    line-height: 0em;
    color: transparent;
}


/* EXPANSION CONTROLS */
/* expandable presets */
.expandable {
    overflow: hidden;
    padding: 0em;
    color: transparent;
}

/* when the 'expandable' element is turned on */
.expandable.expanded {
    padding-top: 1em;
    padding-bottom: 1em;
}

.expandable.expanded article {
    line-height: 1.6em;
    color: initial;
}

.expandable.expanded h2 {
    line-height: 1em;
    color: initial;
}

.expandable.expanded img {
    width: 100%;
}

/* divTable & divTable children */
.expandable.expanded .divTable {
    color: initial;
}

.expandable.expanded .divTableRow {
    padding: 1em 0em;
    border-bottom: 2px gray solid;
}

.expandable.expanded .divTableCell {
    color: initial;
    padding: 0.8em 1.2em;
}