<main>
    <section>
        <h1 class="title">Languages <div>that I can speak</div>
        </h1>
        <hr>
        <table class="table">
            <tr *ngFor="let ExpData of ExpDataModelLanguages">
                <td class="token-container">
                    <div class="img-container">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </td>
                <td>
                    <h2>{{ExpData.title}}</h2>
                </td>
                <td>
                    <article>{{ExpData.article}}</article>
                </td>
            </tr>
        </table>
        <br>
    </section>
    <section>
        <h1 class="title">Frameworks <div>that make my life easier</div>
        </h1>
        <hr>
        <table class="table">
            <tr *ngFor="let ExpData of ExpDataModelFrameworks">
                <td class="token-container">
                    <div class="img-container">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </td>
                <td>
                    <h2>{{ExpData.title}}</h2>
                </td>
                <td>
                    <article>{{ExpData.article}}</article>
                </td>
            </tr>
        </table>
        <br>
    </section>
    <section>
        <h1 class="title">Libraries <div>that make me lose track of time</div>
        </h1>
        <hr>
        <table class="table">
            <tr *ngFor="let ExpData of ExpDataModelLibraries">
                <td class="token-container">
                    <div class="img-container">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </td>
                <td>
                    <h2>{{ExpData.title}}</h2>
                </td>
                <td>
                    <article>{{ExpData.article}}</article>
                </td>
            </tr>
        </table>
        <br>
    </section>
    <section>
        <h1 class="title">Dev Tools <div>that I can swing</div>
        </h1>
        <hr>
        <table class="table">
            <tr *ngFor="let ExpData of ExpDataModelTools">
                <td class="token-container">
                    <div class="img-container">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </td>
                <td>
                    <h2>{{ExpData.title}}</h2>
                </td>
                <td>
                    <article>{{ExpData.article}}</article>
                </td>
            </tr>
        </table>
        <br>
        <h1 class="title">Other Skills <div>that I can...also swing</div>
        </h1>
        <hr>
        <table class="table">
            <tr *ngFor="let ExpData of ExpDataModelSkills">
                <td class="token-container">
                    <div class="img-container">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </td>
                <td>
                    <h2>{{ExpData.title}}</h2>
                </td>
                <td>
                    <article>{{ExpData.article}}</article>
                </td>
            </tr>
        </table>
        <br>
    </section>
    <section>
        <h1 class="title">Schools <div>that learned me good</div>
        </h1>
        <hr>
        <table class="table">
            <tr *ngFor="let ExpData of ExpDataModelSchools">
                <td class="token-container">
                    <div class="img-container">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </td>
                <td>
                    <h2>{{ExpData.title}}</h2>
                </td>
                <td>
                    <article>{{ExpData.article}}</article>
                </td>
            </tr>
        </table>
        <br>
    </section>
    <section>
        <h1 class="title">Past Employers <div>that miss me</div>
        </h1>
        <hr>
        <table class="table">
            <tr *ngFor="let ExpData of ExpDataModelEmployers">
                <td class="token-container">
                    <div class="img-container">
                        <img src="{{ExpData.imgSrc}}">
                    </div>
                </td>
                <td>
                    <h2>{{ExpData.title}}</h2>
                </td>
                <td>
                    <article>{{ExpData.article}}</article>
                </td>
            </tr>
        </table>
        <br>
    </section>
</main>