main {
    display: grid;
}

#titleMain {
    font-size: 3em;
    font-weight: bold;
}

#subtitleMain {
    font-size: 2em;
}

.masterButtons {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0.5em 0em 0.5em auto;
    width: 20%;
}

section {
    border-color: buttonborder;
    border-width: 3px 0px 0px 0px;
    border-style: solid;
}

.dropDownButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: buttonborder;
    border-width: 0px 3px;
    border-style: solid;
    width: 100%;
}

.dropDownButton>* {
    display: inline-block;
}

button:hover {
    background-color: rgb(163, 163, 163);
    color: #fff;
}

button:hover .dropDownIcon {
    color: #fff;
}

.title {
    font-size: 1.75em;
    font-weight: bold;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.title>* {
    display: inline-block;
}

.title>div {
    font-size: 0.6em;
    font-style: italic;
    margin-right: 3px;
}

.dropDownIcon {
    margin: 0;
    color: var(--bs-body-color);
    font-size: 2.4em;
    transition: transform 0.5s ease-in-out;
}

.dropDownIcon.iconFlipped {
    transform: rotate(180deg);
}

/* hr {
    height: 4px;
} */

.expandable,
.divTable,
.divTableRow,
.divTableCell,
.tokencontainer,
.imgContainer,
img,
h2,
article {
    transition: all 1s ease-in-out;
}

.divTable {
    display: grid;
    color: transparent;
    padding: 0em;
}

.divTableRow {
    display: grid;
    align-items: center;
    padding: 0em;
    border: 0px;
}

.divTableTwoColumn {
    grid-template-columns: 50% 50%;
}

.divTableRowTwoColumn {
    grid-template-columns: 40% 60%;
}

.divTableRowThreeColumn {
    grid-template-columns: 22% 25% 53%;
}

.divTableCellDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0;
}

.tokenContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    display: flex;
    max-width: 120px;
}

img {
    width: 0%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divTable h2 {
    font-size: 1.7em;
    font-size: 2em;
    margin: 0em;
    line-height: 0em;
    color: transparent;
}

.yearsExp {}

.yearsExp,
.yearsExpNumber {
    font-style: italic;
    font-weight: 500;
    align-items: center;
}

.yearsExpNumber {
    display: inline-flex;
    margin-left: 0.2em;
}

article {
    font-weight: bold;
    line-height: 0em;
    color: transparent;
}

.sectionFoot {
    height: 4px;
    background-color: buttonface;
    border-color: buttonborder;
    border-width: 0px 3px 3px 3px;
    border-style: solid;
}

/* EXPANSION CONTROLS */
/* expandable presets */
.expandable {
    overflow: hidden;
    padding: 0em;
    color: transparent;
}

/* when the 'expandable' element is turned on */
.expandable.expanded article {
    line-height: 1.6em;
    color: initial;
}

.expandable.expanded h2 {
    margin-bottom: 0.4em;
    line-height: 1em;
    color: initial;
}

.expandable.expanded .yearsExp,
.expandable.expanded .yearsExpNumber {
    font-size: 1.16em;
}

.expandable.expanded img {
    width: 100%;
}

/* divTable & divTable children */
.expandable.expanded .divTable {
    color: initial;
}

.expandable.expanded .divTableRow {
    border-top: 2px gray solid;
    padding: 1em 0em;
}

.expandable.expanded .divTableCell {
    color: initial;
    padding: 0 0.25em;
}

.expandable.expanded .divTableCellDesc {
    line-height: 1;
}


@media only screen and (max-device-width: 768px) {

    #titleMain {
        font-size: 2em;
    }

    #subtitleMain {
        font-size: 1.4em;
    }

    .masterButtons {
        width: auto;
    }

    .title {
        font-size: 1em;
    }

    .title>div {
        font-size: 0.7em;
    }

    .divTableTwoColumn {
        grid-template-columns: 100%;
    }

    .divTableRowTwoColumn {
        grid-template-columns: 25% 75%;
    }

    .divTableRowThreeColumn {
        grid-template-columns: 25% 75%;
    }

    .divTableRowThreeColumn>:nth-child(3) {
        display: none;
    }

    .divTableCellDesc h2 {
        font-size: 1.7em;
    }

    .divTableCellDesc>:nth-child(1) {
        grid-column: span 2;
    }
}

@media only screen and (min-device-width: 1200px) {

    .divTableTwoColumn {
        grid-template-columns: 1fr 1fr 1fr;
    }
}