<main>
    <h2>Languages I can Speak</h2>
    <hr>
    <span class="table">
        <div class="row">
            <div class="token-container">
                <img src="assets\images\Tokens\Token-Web-02.png">
            </div>
            <h3>HTML, CSS, JavaScript</h3>
            <article>
                The Three Amigos. I couldn't quite call myself a Full Stack Web Developer without these guys.<br>
                HTML (HyperText Markup Language) documents are the skeletal building blocks of the World Wide Web. They are
                made up of elements, which are then styled by CSS (Cascading Style Sheets), which controls the font, colors,
                layout, reactions to user actions, and more.<br>
                JavaScript is the brains and muscles of the operation. It is a high-level programming language that runs 98%
                of front-end web applications, and also runs many backend applications.
            </article>
        </div>
    </span>
    <br>
    <h2>Frameworks I can Orchestrate</h2>
    <hr>
    <span>

    </span>
    <br>
    <h2>Tools I can Swing</h2>
    <hr>
    <span>

    </span>
    <br>
    <h2>Skills that I can...also Swing</h2>
    <hr>
    <span>

    </span>
    <br>
    <h2>Schools that Were Nice to Me</h2>
    <hr>
    <span>

    </span>
    <br>
    <h2>Jobs that (hopefully) Miss Me</h2>
    <hr>
    <span>

    </span>
    <br>
</main>